.manager-container {
    margin-top: 10px;
    margin-bottom: 30px;
}

.manager-title {
    background-color: #42b3e5;
    color: #fff;
    padding: 15px;
    padding-left: 30px;
    font-size: 20px;
    box-sizing: border-box;
}

.addForm-container {
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
}

.toggle-display {
    display: flex !important;
}

.addBlog-title {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

.addBlog--form__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
    /* border: 1px solid black; */
}

.toggle-btn {
    background-color: #0384ce;
    color: #fff;
    font-size: 18px;
    min-width: 180px;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border: none;
    transition: all ease 0.2s;
    margin-left: 30px;
    margin-top: 30px;
}

.toggle-btn:hover {
    background-color: #42b3e5;
}

.plus {
    font-size: 22px;
    margin-top: -4px;
    margin-right: 5px;
    font-weight: 900;
}

textarea,
input {
    border: none;
    border-bottom: 1px solid #42b3e5;
}

textarea:focus {
    outline: none;
    /* border: 1px solid #42b3e5; */
}

textarea::placeholder {
    color: rgb(84, 55, 55);
    font-size: 16px;
    padding-left: 0;
}

label {
    font-size: 18px;
    color: #666;
}

.input-container {
    display: flex;
    flex-direction: column-reverse;
    width: 1000px;
}

.input-container+.input-container {
    margin-top: 20px;
}

.textarea {
    height: 40px;
    /* padding: 0px 0px; */
    box-sizing: border-box;
}

.paragraph {
    height: 80px;
}

.heading-label {
    margin-top: 20px;
}

.form-btns-container {
    display: flex;
    float: right;
}

.formBtn {
    background-color: #0384ce;
    padding: 10px 15px;
    border: none;
    color: #fff;
    box-sizing: border-box;
    transition: all ease 0.2s;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 10px;
}

.formBtn:hover {
    background-color: #42b3e5;
}

.updateBtn {
    background-color: #3156a3;
}

.table-responsive {
    margin-top: 30px;
    padding: 0px 30px;
}

/* .table {
    border: 1px solid;
} */

.admin-thead>tr>th {
    background-color: #fff;
}

.blogID-th {
    width: 8%;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    color: black;
}

.blogAuthor-th {
    width: 11%;
    font-size: 18px;
    font-weight: 600;
    color: black;
    text-align: left;
    /* border: 1px solid red; */
}

.blogTitle-th {
    width: 40%;
    font-size: 18px;
    font-weight: 600;
    color: black;
    text-align: left;
}

.blogCreated-th {
    width: 20%;
    font-size: 18px;
    font-weight: 600;
    color: black;
    text-align: left;
}

.actions {
    width: 11%;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    color: black;
    /* border: 1px solid red; */
}

/* .table-row {
    height: 40px;
} */

.blogID-td {
    text-align: center !important;
    padding: 10px !important;
}

.blogID-td, .blogTitle-td, .blogCreated-td, .blogAuthor-td, .actions-td {
    padding: 10px !important;
}

.actions-btns-container {
    display: flex;
    justify-content: space-evenly;
}

.actionBtn {
    color: #fff;
    border: none;
    padding: 5px 10px;
    font-size: 14px;
    /* border-radius: 3px; */
}

.deleteBtn {
    background-color: red;
    transition: all ease 0.2s;
}

.deleteBtn:hover {
    background-color: rgb(255, 149, 0);
}

.updateBtn {
    transition: all ease 0.2s;
}

.updateBtn:hover {
    background-color: #42b3e5;
}


/* Doctor Manager */

.input-group {
    width: 100%;
    /* border: 1px solid black; */
    justify-content: space-between;
}

.input-group +.input-group {
    margin-top: 30px;
}

.doctor-input {
    width: 300px;
    /* margin-left: 30px; */
}

textarea.doctor-input {
    height: 30px;
}

.doctor-label {
    min-width: 130px;
}

.doctor-training-container {
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.padding {
    padding: 10px 9px !important;
}

.doctorName-th, .doctorDegree-th, .doctorSpeciality-th, .doctorOffice-th, .doctorWorkdays-th {
    text-align: left;
    font-size: 18px;
    color: black;
    font-weight: 600;
}

.doctorID-th {
    font-size: 18px;
    color: black;
    font-weight: 600;
}

.doctorID-td {
    text-align: center;
}
