.aboutSite-container {
    background-color: #F8F8F8;
}

.about-container {
    width: 100%;
    padding: 0px 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    margin-top: 10px;
}

.about-content {
    width: 1000px;
    border-top: 8px solid #f0f0f0;
}

.about-title-container {
    display: flex;
    align-items: flex-end;
    margin-top: 20px;
    border-bottom: 1px solid #efefef;
    padding-bottom: 20px;
}

.about-title {
    font-weight: 400;
}

.bread-crumb {
    display: flex;
    align-items: center;
    color: rgb(162, 162, 162);
    padding: 0;
    margin: 0;
    margin-left: 20px;
}

.bread-crumb>span {
    margin: -8px 5px 0px;
}

.bread-crumb>li {
    font-size: 13px;
    text-decoration: underline;
}

.about-header {
    margin-top: 30px;
    display: flex;
}

.welcome-container {
    flex: 1;
    /* border: 1px solid black; */
    margin-right: 30px;
}

.welcome-title {
    font-weight: 400;
    margin-bottom: 30px;
}

.welcome-sentence {
    font-size: 14px;
    color: #666666;
    line-height: 1.4;
    word-spacing: 1px;
}

.quote-title {
    font-weight: 500;
    font-size: 18px;
    margin-top: 15px;
}

.quote-author {
    float: right;
    font-size: 14px;
    color: #666666;
    margin-top: 20px;
}

.whychoose-container {
    flex: 1;
    /* border: 1px solid black; */
}

.whychoose-title {
    font-weight: 500;
    font-size: 18px;
}

.reason-container {
    display: flex;
    align-items: flex-start;
    margin-bottom: 40px;
}

.reason-img {
    margin-right: 20px;
}

.reason-text-container {
    margin-top: -5px;
}

.reason-text {
    font-size: 14px;
    color: #666666;
    line-height: 1.5;
}

.readmore-btn {
    width: fit-content;
    color: #3156a3;
    font-size: 14px;
    cursor: pointer;
    text-decoration: underline;
}

.readmore-btn:hover {
    color: #42b3e5;
}

@media screen and (max-width: 1300px) {
    .aboutSite-container {
        margin-top: -30px;
    }
}

@media screen and (max-width: 1130px) {
    .aboutSite-container {
        margin-top: -60px;
    }

    .about-container {
        padding: 0px 50px 50px;
    }
}

@media screen and (max-width: 830px) {
    .about-header {
        flex-direction: column;
    }

    .whychoose-container {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .about-content {
        width: 500px;
    }
}