/* Home Header */

.site-container {
  background-color: #F8F8F8;
}

.carousel {
  position: relative;
  /* border: 1px solid red; */
  /* background-color: #F8F8F8; */
}

.sliderText-container {
  position: absolute;
  width: 100%;
  top: 70px;
  padding-left: 50px;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sliderText-content {
  width: 1050px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  animation: opacity ease-in 1s;
}

@keyframes opacity {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.slider-title {
  font-size: 70px;
  color: white;
  line-height: 1;
  text-shadow: 0px 1px 0px rgb(0 0 0 / 50%);
}

.slide-subtitle {
  margin-top: 15px;
  color: #fff;
  font-size: 30px;
  font-weight: 300;
  text-shadow: 0px 1px 0px rgb(0 0 0 / 50%);
}

.homeBody-container {
  margin-top: 20px;
}

.homebox-container {
  width: 100%;
  height: auto;
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  position: absolute;
  bottom: 0;
}

.homebox-content {
  height: 240px;
  width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
  box-sizing: border-box;
  z-index: 2;
}

.home_box {
  flex: 1;
  height: 100%;
  padding: 20px 30px;
  box-sizing: border-box;
  z-index: 2;
  animation: growth ease-in 1s;
  /* border: 1px solid black; */
}

@keyframes growth {
  from {
    flex: 0;
    opacity: 0;
  }

  to {
    flex: 1;
    opacity: 1;
  }
}

.homeBox-title {
  color: #fff;
  margin-bottom: 20px;
  letter-spacing: 1px;
  font-size: 22px;
  max-height: 30px;
  width: max-content;
}

.homeBox-p {
  color: #fff;
  margin-bottom: 20px;
  font-size: 14px;
}

.homeBox-btn {
  padding: 5px 10px;
  border: 1px solid #fff;
  color: #fff;
  font-size: 14px;
  transition: all 0.2s ease;
}

.homeBox-btn:hover {
  background-color: #fff;
  color: #0384ce;
}

.light-blue {
  background-color: #42b3e5;
}

.blue {
  background-color: #0384ce;
}

.dark-blue {
  background-color: #3156a3;
}

.openTime-container {
  color: #fff;
  list-style: none;
  padding: 0;
}

.openTime-item {
  border-bottom: 1px solid #E0E0E0;
  padding-bottom: 5px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.openTime-item+.openTime-item {
  margin-top: 15px;
}

/* End Home Header */

/* Home Body */

.homeBody-container {
  width: 100%;
  padding: 0px 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
  /* background-color: #F8F8F8; */
}

.homeBody-content {
  width: 1000px;
}

.featureItems-container {
  display: grid;
  grid-template-columns: 310px 310px 310px;
  gap: 25px;
  margin-top: 20px;
}

.feature-item {
  display: flex;
}

.feature-icon {
  width: 200px;
}

.feature-link {
  text-decoration: none;
  color: black;
}

.feature-link:hover {
  text-decoration: underline;
  color: black;
}

.feature-titlte {
  font-size: 18px;
}

.feature-text {
  font-size: 14px;
  color: #666;
}

.featureImg-container {
  margin-right: 30px;
}

.announcement-container {
  margin-top: 40px;
  background-color: #f0f0f0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 30px;
}

.announcement-text>p {
  font-size: 14px;
  padding: 0;
  margin: 0;
}

.announcement-btn {
  background-color: #3156a3;
  color: #fff;
  font-size: 14px;
  padding: 10px 15px;
  border: none;
  transition: all 0.2s ease;
}

.announcement-btn:hover {
  background-color: #42b3e5;
}

.homeMainContent-container {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.homeNews-container {
  /* border: 1px solid black; */
  margin-right: 30px;
  flex: 2;
  margin-bottom: 50px;
}

.upload-date {
  background-color: #3156a3;
  color: #fff;
  font-size: 13px;
  padding: 5px 10px;
  min-width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.comments-number {
  background-color: #42b3e5;
  color: #fff;
  font-size: 13px;
  padding: 5px 10px;
  margin-top: 2px;
  min-width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.postItem-img {
  margin-bottom: 20px;
}

.postItem-container {
  display: flex;
  justify-content: space-between;
}

.postContent-container {
  display: flex;
  flex-direction: column;
  max-width: 520px;
  border-bottom: 1px solid rgb(214, 214, 214);
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.postItem-title {
  font-size: 22px;
  /* margin-top: 20px; */
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}

.postItem-content {
  font-size: 14px;
  color: #666;
}

.postItem-btn {
  color: #0384ce;
}

.postItem-info {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  margin-top: 20px;
  color: rgb(147, 147, 147);
}

.textDecor {
  text-decoration: underline;
  cursor: pointer;
}

.textDecor:hover {
  color: #0384ce;
}

.showAll-btn {
  color: #3156a3;
  font-size: 14px;
  float: right;
}

.showAll-btn:hover {
  text-decoration: underline;
}

@media screen and (max-width: 1300px) {

  .slider-title {
    font-size: 40px;
  }

  .slide-subtitle {
    font-size: 25px;
  }

  .homebox-container {
    bottom: -50px;
  }

  .homebox-content {
    width: 900px;
    height: 200px;
  }

  .home_box {
    padding: 15px;
  }

  .homeBox-title {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .homeBox-p {
    font-size: 14px;
  }

  .homeBox-btn {
    font-size: 13px;
    padding: 5px 10px;
    position: absolute;
    bottom: 15px;
  }

  .openTime-item {
    font-size: 13px;
  }

  .sliderText-container {
    top: 50px;
  }

  .slider-title {
    font-size: 30px;
  }

  .slide-subtitle {
    font-size: 25px;
    line-height: 0.5;
  }

  .homeBody-content {
    width: 900px;
    margin-top: 50px;
  }

  .featureItems-container {
    grid-template-columns: 280px 280px 280px;
  }

  .postInfor-container {
    margin-right: 10px;
  }

  .upload-date,
  .comments-number {
    font-size: 10px;
    padding: 5px;
    min-width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 840px) {
  .sliderText-container {
    top: 60px;
  }

  .slider-title {
    font-size: 20px;
    margin-bottom: 2px;
  }

  .slide-subtitle {
    font-size: 17px;
    padding: 0;
    margin-bottom: 0px;
  }

  .homebox-container {
    bottom: -270px;
  }

  .homebox-content {
    display: flex;
    flex-direction: column;
    width: 500px;
  }

  .home_box {
    width: 100%;
    padding: 15px;
  }

  .homeBox-title {
    font-size: 13px;
  }

  .homeBox-p {
    font-size: 10px;
  }

  .homeBox-btn {
    position: static;
    font-size: 10px;
    padding: 5px 10px;
  }

  .openTime-item {
    font-size: 10px;
  }

  .homeBody-container {
    margin-top: 350px;
  }

  .homeBody-content {
    width: 500px;
  }

  .featureItems-container {
    grid-template-columns: 100%;
    gap: 10px;
  }

  .featureImg-container {
    margin-right: 15px;
  }

  .feature-icon {
    width: 100px;
  }

  .feature-titlte {
    font-size: 16px;
  }

  .feature-text {
    font-size: 13px;
  }

  .announcement-container {
    flex-direction: column;
    align-items: flex-start;
    padding: 30px 20px;
  }
  
  .announcement-text>h3 {
    font-size: 20px;
  }

  .announcement-btn {
    margin-top: 15px;
    padding: 5px 10px;
    font-size: 13px;
  }

  .homeMainContent-container {
    flex-direction: column;
  }

  .homeNews-container {
    margin-right: 0;
  }

  .postItem-container {
    display: flex;
    flex-direction: column;
  }

  .postInfor-container {
    display: flex;
    margin-bottom: 20px;
  }

  .upload-date, .comments-number {
    margin: 0;
    margin-right: 2px;
  }

  .postItem-img {
    max-width: 500px;
  }

  .postItem-content {
    max-width: 500px;
  }

  .postItem-title {
    font-size: 17px;
  }

  .postItem-content>p {
    max-width: 500px;
    font-size: 13px;
  }
}

@media screen and (max-width: 500px) {
  .homebox-container {
    padding: 0px 10px;
    bottom: -270px;
  }

  .sliderText-container {
    padding: 10px;
    top: 0px;
    left: 0px;
  }

  .slider-title {
    font-size: 16px;
  }

  .slide-subtitle {
    font-size: 13px;
  }

  .home_box {
    padding: 10px;
  }

  .homeBox-title {
    font-size: 10px;
  }

  .homeBox-p {
    font-size: 8px;
  }

  .homeBox-btn {
    font-size: 8px;
  }

  .openTime-item {
    font-size: 8px;
  }

  .homeBody-container {
    margin-top: 320px;
  }

  .featureItems-container {
    gap: 0;
  }

  .feature-icon {
    width: 120px;
  }

  .postItem-img {
    max-width: 100%;
  }

  .postItem-info>p {
    font-size: 13px;
  }

}